# --- Frontend / UI ---
streamlit>=1.32.0
plotly
pydeck

# --- Backend / API ---
fastapi
uvicorn
polyline

# --- Data & Machine Learning ---
pandas
numpy
scikit-learn
xgboost
joblib
holidays

# --- Cloud, Database & Auth ---
requests
gspread
google-auth
st-gsheets-connection
mysql-connector-python
python-dotenv

# --- Testing ---
pytest